@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --first-color : #222831;
    --second-color : #393E46;
    --third-color : #00ADB5;
    --forth-color : #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;

}

.footer {
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: var(--second-color);
    color: var(--forth-color);
    padding: 1rem 0rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-color);
    color: var(--forth-color);
}

.brand-title {
    font-size: 1.5rem;
    margin: 1rem;
}

.brand-title-link {
    color: var(--forth-color);
    text-decoration: none;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    border-radius: 12px;
}

.navbar-links li:hover {
    background-color: #555;
}

.navbar-links li a{
    text-decoration: none;
    color: var(--forth-color);
    padding: 1rem;
    display: block;
}

.toggle-button{
    position: absolute;
    /* top: .75rem; */
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--forth-color);
    border-radius: 10px;
}

/* main {
    display: flex;
    height: 650px;
    justify-content: center;
    align-items: center;
} */




/* homescreen styling */

.home-screen {
    margin: 15px;
    padding: 10px 16px;
}

.home-screen h1 {
    margin: 15px 0px;
}

.products-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
}

.product-card img {
    width: 100%;
}

.product-card {
    box-shadow: 2px 2px 1px #eee;
    padding: 10px;
    border-radius: 10px;
}

.product-card:hover{
    cursor: pointer;
}

.product-card a {
    text-decoration: none;
    color: black;
}

.product-card  * {
    margin: 10px 0px;
}

/* rating section */


/* product screen */
.screen {
    margin: 16px;
    padding: 16px;
}
/* 
.product-screen img {
    width: 100%;
} */

.product-info-section {
   padding: 10px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-around;
}

.links {
    margin: 0px 20px;
    text-decoration: none;
    color: var(--second-color);
}

.product-section{
    margin: 20px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.product-shopping-section{
    display : flex;
    flex-direction: column;
    place-content: center;
}
.shop-table {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px ;
}


/* button */
.button {
    padding: 12px 16px;
    border:  solid;
    border-radius: 12px;
}

.cta {
    background-color: var(--first-color);
    color: var(--forth-color);
    margin: 10px 0px 0px 0px;
    transition: 0.2s ease-in-out;
}

.cta:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.delete-item {
    width: 75%;
    border: 1px red solid;
    color: black;
    background-color: white;
    transition: .3s ease-in-out;
}

.delete-item:hover {
    color: white;
    background-color: red;
}

.product-shopping-section .cta {
    width: 70%;
    justify-content: center;
}

.disabled {
    background-color: #555;
}
.disabled:hover {
    cursor: not-allowed;
    transform: none;
}

/* cart screen */
.cart-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 3rem 0rem;
}

.cart-component {
    margin: 2rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.summary-section {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2rem 0rem;
}

.Link h3 {
    text-decoration: none;
}


/* login screen  */
.login-screen {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    margin: 5rem;
    padding: 2rem 1rem;
}

.login-form {
    text-align: center;
}

.login-form input {
    margin: 8px 0px;
    padding: 10px 12px;
    font-size: large;
}

.login-form button {
    width: 25%;
    margin: 10px 0px 10px 0px;
}

.login-form cta {
    width: 100%;
    padding: 5px 15px;
}


/* profile screen */
.profile-screen {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.update-profile {
    /* text-align: left; */
}

.update-profile-elements {
    margin: 5px 0px;
}




/* media queries */

@media (max-width : 430px){
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
    }
}

@media (max-width : 1270px){
    .product-section img {
        width: 400px;
    }
}

@media(max-width : 1106px){
    .product-section {
        grid-template-columns: 1fr 1fr;
    }
    .product-shopping-section {
        inherits: none;
        text-align: center;
    }

    .product-section img {
        width: 550px;
    }

}


.link-text {
    text-decoration: none;
    color: var(--second-color);
}

@media (max-width : 900px){
    .product-section {
        margin: 10px;
        padding: 12px;
        grid-template-columns: 1fr;
    }

    .product-section img {
        width: 350px;
    }

    .product-info-section > *{
        margin: 8px 0px;
    }
}

@media(max-width : 600px) {
    .products-display {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width : 300px){
    .products-display {
        grid-template-columns: 1fr;
    }
}

